footer{
    .todo{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 1fr;
        grid-column-gap: 0px;
        grid-row-gap: 0px;
        margin-top: 100px;
        margin-left: 150px;
        .end{
            margin-left: 2.5em;
        }
        a{
            text-decoration: none;
            color: #fff;
        }
        .lista{
            display: flex;
        }
        ul{
            margin-top: 0%;
            
            li{
                list-style-type: none;
                color: #fff;
            }
            .title{
                font-weight: 700;
                font-size: 16px;                
                color: #F6007C;
            }
        }
        .derecha{
            p{
                color: #fff;
                font-weight: 400;
                font-size: 16px;
                text-align: start;
            }
        }
    }
}