
header{
    background-image: url(../assets/bg_home.jpg);
    width: 100%;
    height: 1080px;
    background-size: cover;
    background-repeat: no-repeat;
    h1{
        color: #fff;
        font-size: 144px;
        margin-left: 150px;
        width: 850px;
        line-height: 130px;
        margin-top: 150px;
    }
    h2{
        font-weight: 400;
        font-size: 40px;
        line-height: 47px;
        color: #fff;
        margin-left: 150px;
        margin-top: -1em;
    }
    button {
        width: 383px;
        height: 50px;
        margin-left: 150px;
        background: #F6007C;
        border-radius: 5px;
        color: #fff;
        font-weight: 500;
        font-size: 24px;
        border: none;
        font-family: 'Oswald', sans-serif;
        margin-top: 25px;
        a{
            text-decoration: none;
            color: #fff;
        }
    }


}
